@using ToolsApp.Models.Colors

<ul>
	@foreach(var color in Colors)
	{
		<li>
			@color.Name
			<button type="button"
				@onclick="@(async () => await OnDeleteColor.InvokeAsync(color.Id))">Delete</button>

		</li>
	}
</ul>

@code {

	[Parameter]
	public IEnumerable<Color> Colors { get; set; } = new List<Color>();

	[Parameter]
	public EventCallback<int> OnDeleteColor { get; set; }
}

